<%= render "shared/header_item"%>

 
<div class="overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" >
 <main class="container">
    <div class="py-5 ">
      <h2 class="alert alert-secondary" role="alert">投稿編集画面</h2>
      <p class="lead ">Todays Your Coordination</p>
    </div>
  
  
    <%= form_with model:@item, local: true do |f|%>

    <%#= render 'shared/error_messages', model: f.object %>

    <div class="form-items">
      <div class="col-sm-7"> 
        <%= f.label :title, "Title-タイトル-" %><span class="badge bg-danger">必須</span><br />
        <%= f.text_field :title, class: "mb-3", class: "form-control", id:"title" %>
        <%= f.label :style_text, "Style_text-コーディネート詳細-" %><span class="badge bg-danger">必須</span><br />
        <%= f.text_area :style_text, class: "mb-3", class: "form-control", id: "style_text"%>
        <%= f.label :outer_item, "Outer_item-アウター-" %><br />
        <%= f.text_field :outer_item, class: "mb-3", class: "form-control", id:"outer_item" %>
        <%= f.label :tops_item, "Tops_item-トップス-" %><br />
        <%= f.text_field :tops_item, class: "mb-3", class: "form-control", id:"tops_item" %>
        <%= f.label :bottoms_item, "Bottoms_item-ボトムス-" %><br />
        <%= f.text_field :bottoms_item, class: "mb-3", class: "form-control", id:"bottoms_item" %>
        <%= f.label :shoes_item, "Shoes_item-シューズ-" %><br />
        <%= f.text_field :shoes_item, class: "mb-3", class: "form-control", id:"shoes_item" %>
        <%= f.label :goods_item, "Goods-小物類-" %><br />
        <%= f.text_field :goods_item, class: "mb-3", class: "form-control", id:"goods_item" %>
      </div>

      <div class="col-5">
        <%= f.label :images, "Styling_image-コーディネート画像-" %><span class="badge bg-danger">必須</span><p>(画像は6枚まで投稿できます)</p><br />
        <%= f.file_field :images, multiple: true, name: 'item[images][]', id:"item_image" %>
        <div class="image-list img-fluid" id="image-list">
            <% @item.images.each do |image| %>
            <%= image_tag image, class: 'images' %>
            <% end %>
        </div>
      </div>
    </div>
      <div class="item-btn">
        <%= f.submit "変更する", class: "btn btn-primary btn-lg"%>
    <% end %>
    </div>

 </main>
</div>


<%= render "shared/footer_item"%>