<%= render "shared/header_item"%>


<div class="overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" >
  <div class="inner">
    <div class="item__wrapper">
      <p class="item__hedding">
        <%= @item.title %>
      </p>
      <% if user_signed_in? %>
        <div class=favorites >
          <% if current_user != @item.user %>
              <% if current_user.already_favorited?(@item) %>
                  <%= link_to item_favorites_path(@item), method: :delete do %>
                    <i class= "fas fa-heart"></i>
                  <% end %>
              <% else %>
                  <%= link_to item_favorites_path(@item), method: :post do %>
                      <i class= "far fa-heart"></i>
                  <% end %>
              <% end %>
          <% else %>
            <i class= "far fa-heart"></i>
          <% end %>
              <%= @item.favorites.count %>
        </div>
      <% end %>
      <%= link_to @item.user.nickname, user_path(@item.user), class: :item__user %>
      <% if @item.user == current_user %>
        <div class="item__manage">
          <%= link_to "編集する", edit_item_path(@item.id), class: :item__btn %>
          <%= link_to "削除する", item_path(@item.id), method: :delete, class: :item__btn %>
        </div>
      <% end %>
      <div class="item__images">
      <% @item.images.each do |image| %>
        <%= image_tag image, class: 'images' %>
      <% end %>
      </div>
      <div class="item__body">
        <div class="item__detail">
          <p class="detail__title">Style_text-コーディネート詳細-</p>
          <p class="detail__message">
            <%= @item.style_text %>
          </p>
        </div>
        <div class="item__detail">
          <p class="detail__title">Outer_item-アウター-</p>
          <p class="detail__message">
            <%= @item.outer_item %>
          </p>
        </div>
        <div class="item__detail">
          <p class="detail__title">Tops_item-トップス-</p>
          <p class="detail__message">
            <%= @item.tops_item %>
          </p>
        </div>
        <div class="item__detail">
          <p class="detail__title">Bottoms_item-ボトムス-</p>
          <p class="detail__message">
            <%= @item.bottoms_item %>
          </p>
        </div>
        <div class="item__detail">
          <p class="detail__title">Shoes_item-シューズ-</p>
          <p class="detail__message">
            <%= @item.shoes_item %>
          </p>
        </div>
        <div class="item__detail">
          <p class="detail__title">Goods-小物類-</p>
          <p class="detail__message">
            <%= @item.goods_item %>
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="item__comments p-3 p-md-5 m-md-3 bg-light">
        <% if user_signed_in? %>
          <%= form_with model: [@item,@comment],local: true do |f|%>
            <div class="field">
              <%= f.label :comments, "コメント" %><br />
              <%= f.text_field :comments, id:"comments" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.comments%>
              <%= link_to "(#{comment.user.nickname})", root_path, class: :comments_user %>
            </li>
          <% end %>
        </ul>
  </div>



<%= render "shared/footer_item"%>

